<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825907981899-kb7l4d05t270rbc8g6u3mrlmtbgkoee8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825907981899-kb7l4d05t270rbc8g6u3mrlmtbgkoee8</string>
	<key>API_KEY</key>
	<string>AIzaSyBg54Nykf1efgtSdm4tHsIj2ezwZt8U7Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>825907981899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-57eac</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-57eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825907981899:ios:27256b68740cad107da7ce</string>
</dict>
</plist>